* {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
body {
    margin-top: 2%;
    background-color: #F2F2F2;
    color:white;
}
#q-field {
    margin-top: 2%;
    min-height:20%;
    font-size:40px;
}
#ui {
    font-size:45px;
    background-color:cornflowerblue
}
.answer {
    background-color: white;
    font-size:30px;   
    width: 40%;
    height: 80px;
    max-width: 800px;
    display: inline-block;
    text-align:center;
}


#point-counter {
    border: 2px solid white;
    border-radius: 40px;
    margin-top: 6%;
    width:180px;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}
#game {
  
    height: 800px;
}